{% extends 'index.html' %} 
{% block title %}Все статьи{% endblock %} 
{% block content %}
<h1>Все статьи</h1>
<p>Здесь вы можете просмотреть все статьи.</p>
<!-- Здесь можно вывести список статей -->
{% for article in articles %}

<a href="{% url 'article_detail' article.id %}" style="text-decoration: none; color: inherit; ">
<div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
    <h3>{{ article.title }}</h3>
    <p>{{ article.content|truncatechars:200 }}</p>
    <p>Автор: {{ article.author.username }}</p>
    <p>Дата публикации: {{ article.created_at }}</p>
      
      <div style="display: flex" class="topic">
     
        {% if article.topics.all %}
          <p style="padding-left: 10px">Темы:
            {% for topic in article.topics.all %}
            <p style="padding-left: 10px">{{ topic.name }}</p>
          {% endfor %}
          </p>
        {% else %}
          <p style="padding-left: 10px">Темы отсутствуют</p>
        {% endif %}
       
      </div>
</div>
</a>

{% empty %}
    <p>Статей пока нет.</p>
{% endfor %}



{% endblock %}